h1 Send a New Message

form(action="/new", method="post") 
    label(for="messageUser") Username: 
    br
    input(type="text" name="messageUser")
    br
    br
    label(for="messageText") Message: 
    br
    input(type="text" name="messageText")
    br
    br
    button(type="submit") submit